.card {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    min-height: 70px;
    min-width: 300px;
    margin: 10px 5px 0 0;
    background: #fff;
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-weight: 500;
  }

  &__title {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 38px;
  }

  &__text {
    &_wrapper {
      display: flex;
      flex-direction: column;
    }

    &_priority {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.button__edit,
.button__delete {
  cursor: pointer;
  margin-left: 10px;
}

.button__delete {
  color: red;
}
