<<<<<<< HEAD
*,
p {
    margin: 0 auto;
    padding: 0;
}

.ant-form-item-label > label {
    font-size: 24px;
}

.ant-upload.ant-upload-select-picture-card {
    height: 36px;
}
=======
*,
p {
    margin: 0 auto;
    padding: 0;
}

.ant-form-item-label > label {
    font-size: 24px;
}

.ant-upload.ant-upload-select-picture-card {
    height: 36px;
}
>>>>>>> fa2d45f7fb2f7c0a23ecbdbd1f27cb9b1f750821
