*,
p {
  margin: 0 auto;
  padding: 0;
}

.user-create {
  width: 876px;
  height: 833px;
}

.form-user-create {
  width: 100%;
}

.form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;

  &-text {
    margin: 0;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }
}

.label {
  &-switch > div {
    padding: 0;
    margin: 0;
  }
  &-text {
    font-size: 16px;
  }
}

.ant-form-item-label > label {
  font-size: 24px;
}

.ant-upload.ant-upload-select-picture-card {
  height: 36px;
}
